


html {
  box-sizing: border-box;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size:0.9rem;
}

/* start of phone styles */

/*search input*/

#search {
  margin: 15px 0 10px 0;
  padding: 2px 3px;
  width: 100%;
  max-width: 300px;	
}

td {
  padding: 4px;
  border: 1px #CCC solid;
  min-width: 30%;
  font-size: 0.9rem;

}

th {
  text-align: left;
  padding-bottom: 5px;
  padding-left: 3px;
}

.invisible {
  display: none;
}

section {
  text-align:justify;
  margin: 15px 0 10px 0;
}

.mobile-container {
  /* max width for the whole page */

  max-width: 100%;
  /* margin for the whole page */
  margin: 10px;
  padding-top:25px;
}

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width:100%;
  background-color: #018701;

}

.topnav #myLinks {
  display: none;
  background-color: #026602;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 4vw;
  display: block;

}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}

.active {
  color: white;
}

 
.flex-container-row{
	
margin: 0;
padding: 0;
display:flex;
flex-direction: column;}

.flex-container-column{
display:flex;
flex-direction: column;}


#whole-page{
/*margin for the whole page*/
margin: 40px 10px;}

.flex-container-row section , .flex-container-row h3  {
margin: 0;
padding: 0;}
 .flex-container-row blockquote {
margin-top: 5px;
margin-bottom: 3px; }  
.flex-container-column h3{
 
margin: 10px; }

.flex-container-column ul{
 
text-align:left;  }

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* start of medium tablet styles */
	html{font-size:2.6vw;}
	 
  .mobile-container { 
margin: 15px 10px; 
max-width:100%;
  }

section
{
max-width:600px; }

section > em, li > em{
font-size:2.7vw;}

.topnav a{font-size:2.8vw;}

#whole-page{
/*margin for the whole page*/
margin: 55px 10px;}

.flex-container-row figure{max-width:100%;
padding:0;
margin:0;}
}

.flex-container-row img{max-width:100%;
}


@media screen and (min-width: 767px) and (max-width: 991px) {
  /* start of large tablet styles */
html{font-size:1.9vw;}
	 
  #search {
    width: 60%;
    max-width: 400px;
  }

    

  .mobile-container { 
    padding-top:40px;
  }


  .topnav {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
  }

  .topnav a {
    font-size: 1.3vw;
  }

  .topnav #myLinks {
    display: flex;
    flex-direction: row;
    background-color: #018701;
  }


  #header_link {
    display: none;
  }


  .topnav a.icon {
    display: none;
  }
   

section
{
max-width:600px; }

section > em, li > em{
font-size:2vw;}



}

 

@media screen and (min-width: 991px) {

  /* start of desktop styles */
 
 
 html{font-size:20px;}
/* every att in malazan names table visible */

  .mobile-container { 
margin: 28px 25px; 
max-width:100%;
  }

section
{
max-width:50%; }

section > em, li > em{
font-size:1.1em;}
li{font-size:1rem;}
details li{font-size:0.9rem;}


  table{max-width:100%;
  }

 .invisible {
    display: inline-grid;
  }

  td.invisible {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .dotted {
    width: initial;
    border: 1px #026602 dashed;
    margin: 1px 3px;
    padding: 0 2px;
  }

  #search {
    width: 60%;
    max-width: 600px;
	height:2em;
  }
 

  .topnav {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
  }

  .topnav a {
    font-size: 1.3vw;
  }

  .topnav #myLinks {
    display: flex;
    flex-direction: row;
    background-color: #018701;
  }


  #header_link {
    display: none;
  }


  .topnav a.icon {
    display: none;
  }
  
  /* flex container*/
  
.flex-container-column{ 
 
display:flex;
flex-direction: column;}

#whole-page{ 
/*margin for the whole page*/
margin: 55px 25px; 
padding: 0 0;
font-size: 1.05vw;}

  
.flex-container-row{
display:flex; 
flex-direction: row;

margin-bottom: 5vh;
max-width:100%; }

.flex-container-row section , .flex-container-row h3 {
width:50%;
margin: 0;
padding: 0;} 
 
.flex-container-column h3{
width:50%; }

}
